
html,
body,
body > iframe{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.print-button{
    position: fixed;
    display: block;
    right: 26px;
    top: 10px;
    width: 46px;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    border-radius: 3px;
    background: rgba(68, 139, 176, 0.7);
    /*background: rgba(53, 95, 125, 0.6);*/
    /*background: rgba(35, 59, 82, 0.6);*/
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .4);
    z-index: 999999;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    border-left: 1px solid rgba(0, 0, 0, .4);
}

.print-button:after{
    display: block;
    color: rgba(255, 255, 255, 1);
    font-family: "FontAwesome";
    content: '\f02f';
    font-size: 30px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

@media print{
    .print-button{
        display: none !important;
    }
}
