<div class="container">
    <div class="row" style="width: 100%">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Смена пароля</h1>
            <div class="account-wall">
                <form class="form-signin" novalidate name="changePassForm">
                    <input ng-model="changePassPageCtrl.oldPass" name="oldpass" type="password" class="form-control"
                           placeholder="Текущий пароль" required>
                    <span class="label label-danger"
                          ng-show="changePassForm.oldpass.$error.required && changePassForm.oldpass.$dirty">Поле не может быть пустым!</span>

                    <input ng-model="changePassPageCtrl.newPass" name="newpass" type="password" class="form-control"
                           placeholder="Новый пароль" required ng-minlength="5">
                    <span class="label label-danger"
                          ng-show="changePassForm.newpass.$error.required && changePassForm.newpass.$dirty">Поле не может быть пустым!</span>
                    <span class="label label-danger"
                          ng-show="changePassForm.newpass.$error.minlength && changePassForm.newpass.$dirty">Минимум 5 символов!</span>

                    <input ng-model="changePassPageCtrl.newPassRepeat" name="newpassrepeat" type="password"
                           class="form-control"
                           placeholder="Повторите" required>
                    <span class="label label-danger"
                          ng-show="changePassForm.newpassrepeat.$error.required && changePassForm.newpassrepeat.$dirty">Поле не может быть пустым!</span>

                    <span class="label label-danger"
                          ng-show="changePassPageCtrl.newPassRepeat != changePassPageCtrl.newPass && changePassForm.newpassrepeat.$dirty && changePassForm.newpass.$dirty">Неправильный повтор пароля!</span>

                    <br>
                    <button ng-disabled="changePassForm.$invalid" class="btn btn-lg btn-primary btn-block"
                            ng-click="changePassPageCtrl.changePass()" type="submit">Сменить пароль
                    </button>
                    <button class="btn btn-lg btn-default btn-block"
                            ng-click="changePassPageCtrl.cancel()" type="submit">Отмена
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>